<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.james.usinglog.mapper.TestMapper">
    <insert id="insert">
        insert into test (id, hello) value (#{id}, #{hello})
    </insert>

    <update id="update">
        update test set hello = #{hello} where id = #{id}
    </update>

    <delete id="delete">
        delete from test where id = #{id}
    </delete>

    <select id="findHelloById" resultType="java.lang.String">
        select hello from test where id = #{id}
    </select>
</mapper>